h1 {
  text-align: center;
}

.rightfloat {
  float: right;
}

.form {
  margin: 0px 150px;
}
.input {
  max-width: 400px;
}
.cancelButton {
  margin-left: 5px;
}
.formbuttons {
  margin-left: 250%;
}
